body{
    background-color: aliceblue;
}
button {
    background-color: #add8e6;
    margin: 5px;
    cursor: pointer;
    width: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}

p {
    font-weight: bold;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 28px
}