body{
    background-image: url("https://wallpapercave.com/wp/X0W5i4w.jpg");
    background-position: center;
    background-repeat: none;
}

.but {
    background-color: lightgray;
    margin: 5px;
    cursor: pointer;
    width: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

.reset {
    background-color: lightgray;
    margin: 5px;
    cursor: pointer;
    width: 60px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

h1 {
    text-shadow: 3px 3px 6px darkgray;
}

p {
    font-weight: bold;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 28px;
    border: 2px solid black;
    max-width: 800px;
    background-color: white;
    
}